.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  font-size: 13px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
}

@media (max-width: 400px) {
  .Synonyms ul {
    padding: 5px;
    text-align: center;
    font-size: 8px;
    margin: 10px 0px 15px 0px;
  }
}
